  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 558px;
    height: 67px;
    padding: 18px 26px;
    border-radius: 45px;
    background: #FC5185;    ;
    border: 1px solid #FC5185;
    color: #ffffff;
    font-family: 'Poppins-SemiBold';
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
  }
  