.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%; 
    height: 50px; 
    padding: 18px 26px; 
    border-radius: 45px;
    background: #620404;
    border: 1px solid #383731;
    color: #ffffff;
    font-family: 'Poppins-SemiBold';
    cursor: pointer;
  }
  