.card {
  width: Hug (50px);
  height: Hug (112px);
  background: #fcf6e7;
}

.card p {
  margin-top: 1em;
  width: Hug(100px);
  height: Hug(21px);
  font-family: Poppins-SemiBold;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #e3741a;
}

.container {
  width: Hug (947px);
  height: Hug (349px);
  top: 62px;
  left: 21px;
}

.tableContainer {
  border-radius: 20px;
  height: 244px;
  padding: 0 10px 10px 10px;
  overflow-y: scroll;
}
thead {
  position: sticky;
  top: 0px;
  margin: 0 0 0 0;
}

table {
  width: Fixed (316px);
  height: Hug (349px);
  width: 100%;
  border-collapse: separate; /* Separate borders between cells */
  border-spacing: 5px;
}

tr {
  width: Fill (316px);
  height: Hug (49px);
  padding: 14px 22px 14px 22px;
  gap: 10px;
  background: rgba(241, 241, 255, 0.5);
  font-family: Poppins-Regular;
  color: #27282a;
}

th {
  background: rgba(234, 166, 144, 0.5);
  padding: 10px;
}

td {
  width: Fill (316px);
  height: Fixed (60px);
  padding: 10px;
  border: 1px solid transparent;
  gap: 10px;
  background: rgba(255, 255, 255, 0.5);
  font-family: Poppins-Regular;
  color: #00255c;
}
.scrolling {
  overflow: scroll;
  max-height: 300px;
}
